<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Free Bootstrap Admin Template : Two Page</title>
<!-- BOOTSTRAP STYLES-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
   <!-- FONTAWESOME STYLES-->
  <link href="/assets/css/font-awesome.css" rel="stylesheet" />
      <!-- CUSTOM STYLES-->
  <link href="/assets/css/custom.css" rel="stylesheet" />
   <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>

    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>&nbsp;Library</a>

                <div class="navbar-collapse collapse">
                   <ul class="nav navbar-nav navbar-right">
							<li>ID<input type="text" name="adminId"/></li>
							<li>PW<input type="text" name="adminPw"/></li>
							<li><input type="submit" value="로그인"/></li>

                   </ul>
                </div>
               <!-- 로그인후 화면시 사용
				<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">HOME</a></li>
                        <li><a href="#">사이트맵</a></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
        				<img src="/assets/img/find_user.png" class="img-responsive" />

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>도서관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/add/books">도서등록</a>
                            </li>
                            <li>
                                <a href="/list/books">도서목록</a>
                            </li>
                            <li>
                                <a href="#">대출가능목록</a>
                            </li>
                            <li>
                               <a href="#">대출관리<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
									<li>
										<a href="#">등록</a>
									</li>
									<li>
										<a href="#">반납</a>
									</li>
                            	</ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>회원관리<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/add/member">회원등록</a>
                            </li>
                            <li>
                                <a href="/add/admin">관리자등록</a>
                            </li>
                        </ul>
                    </li>
                </ul>
			</div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>도서목록</h2>
                    </div>
                </div>
                <hr />
                <div class='container'>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>도서번호</th>
                          <th>도서명</th>
                          <th>출판사</th>
                          <th>저자</th>
                        </tr>
                      <tbody>
                        <% for(var b in booksList) {%>
                        <tr>
                          <td><%= booksList[b].booksnumber %></td>
                          <td><a href="/modify/<%=booksList[b].booksnumber%>"><%= booksList[b].booksname %></a></td>
                          <td><%= booksList[b].booksauthor %></td>
                          <td><%= booksList[b].booksmade %></td>
                        </tr>
                        <%}%>
                      </tbody>
                </div>
    		    </div>
             <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>


</body>
</html>
